# Carpetas generadas por Unity que no deben subirse
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Archivos de Visual Studio / IDEs
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos del sistema operativo (Opcional pero recomendado)
.DS_Store
Thumbs.db